name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        go: [ '1.12', '1.13', '1.14', '1.15' ]
    name: Test with go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@v2

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - run: go test -mod=readonly -v ./...
